<html> 
    <head> 
        <meta charset="UTF-8"> 
        <title> Registration Successful </title> 
    </head> 
    <body></br></br></br></br></br> 
        <div align="center"> 
          <div align="center" class="border" style = "background: beige;"> 
             <div class="header"> 
                <h2 class="word">Registration Successful</h2> 
             </div></br></br></br> 
            <h2 class="word"> 
                <form action="{{ url_for('login') }}" style = "background: beige;"> 
                    <h1>You are registered!! Login to see your profile info!!</h1>
					<p align="center"><a href=login ><button class="btn" style = "height: 35px; width: 95px; font-size: x-large; background-color: coral;">Login</button></a></br></br></p>
                </form> 
            </h2> 
          </div> 
        </div> 
    </body> 
</html>